.landing {
  height: 100vh;
  padding-top: 80px;
  color: white;
}

/* .landing-background {
  background-color: rgb(79, 79, 241);
} */

/* NEW */
.landing-background {
  background-color: teal;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Picture credit
Photo by Charles Black on Unsplash */

.landing-pic {
  position: relative;
  /* background: url('./img/charles-black-5255-unsplash.jpg') no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -75px;
  margin-bottom: -50px;
}
/* NEW */

.fa-hiking {
  font-size: 70px;
}
